<%= form_for @user_info, html: { class:'form_horizontal' } do |f| %>
    <% if @user_info.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user_info.errors.count, "error") %> prohibited this user_info from being saved:</h2>
  
        <ul>
        <% @user_info.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    

<div class="col-md-9 col-md-offset-1">

    <table class="table table-striped containe   text-left   " >
              
              <tr>
                <td>
                  <div class="control-group">
                    <%= f.label :first_name %>
                    <%= f.text_field :first_name ,class:"form-control"%>
                    </div>
                  </div>
                </td>        
               
                  
                <td>
                  <div class="control-group">
                    <%= f.label :last_name, class: 'control-label' %>
                    <dev class="controls">
                    <%= f.text_field :last_name ,class:"form-control"%>
                     </div>
                  </div>
                </td>
              </tr>         
              
              <tr>
                <td>
                  <div class="control-group">
                    <%= f.label :email, class: 'control-label' %>
                    <dev class="controls">
                    <%= f.text_field :email ,class:"form-control"%>
                     </div>
                  </div>
                </td>
                
                <td>         
                  <div class="control-group">
                    <%= f.label :phone, class: 'control-label' %>
                    <dev class="controls">
                    <%= f.text_field :phone,class:"form-control" %>
                     </div>
                  </div>
                </td>
              </tr>
              
              <tr>
                <td>         
                  <div class="control-group">
                    <%= f.label :city, class: 'control-label' %>
                    <dev class="controls">
                    <%= f.text_field :city,class:"form-control" %>
                     </div>
                  </div>
                </td>
                
                <td>           
                  <div class="control-group">
                    <%= f.label :state, class: 'control-label'%>
                    <dev class="controls">
                    <%= f.text_field :state,class:"form-control" %> 
                    </div>
                  </div>
                </td>
              </tr>
              
              <tr>
                <td>         
                  <div class="control-group">
                    <%= f.label :zip_code, class: 'control-label' %>
                    <dev class="controls">
                    <%= f.text_field :zip_code ,class:"form-control"%>
                     </div>
                  </div>
                </td>
                
                <td>        
                  <div class="control-group">
                    <%= f.label :street, class: 'control-label' %>
                    <dev class="controls">
                    <%= f.text_field :street ,class:"form-control"%>
                     </div>
                  </div>
                </td>
              </tr>
              
              
              
              <tr>
                <td>    
                  <div class="control-group">
                    <%= f.submit 'Update', class:"btn btn-default  "%>
                    <dev class="controls">
                     </div>
                    </div>
                </td>
              </tr>

    </table>
</div>

          <div class="field">
              <%=f.hidden_field :user_id, value: current_user.id %>
          </div>

<% end %>


